<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingcloud.dataMigration.mapper.master.MasterDataBaseMapper">
	<resultMap id="BaseResultMap" type="com.mingcloud.dataMigration.entity.master.MasterDataBaseEntity">

	</resultMap>

	<parameterMap id="MasterDataBaseEntity" type="com.mingcloud.dataMigration.entity.master.MasterDataBaseEntity"/>

	<select id="selectAllTableName" resultType="com.mingcloud.dataMigration.entity.master.MasterDataBaseEntity">
		select
		 TABLE_SCHEMA AS dataBaseName,
		 TABLE_NAME AS tableName
		from information_schema.tables
		where TABLE_SCHEMA='geely2.0';
	</select>

	
</mapper>
