<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingcloud.dataMigration.mapper.cluster.ClusterDataBaseMapper">
	<resultMap id="BaseResultMap" type="com.mingcloud.dataMigration.entity.cluster.ClusterDateBaseEntity">
	</resultMap>

	<parameterMap id="ClusterDateBaseEntity" type="com.mingcloud.dataMigration.entity.cluster.ClusterDateBaseEntity"/>

	<select id="selectAllTableName" resultType="com.mingcloud.dataMigration.entity.cluster.ClusterDateBaseEntity">
		select
		TABLE_SCHEMA AS dataBaseName,
		TABLE_NAME AS tableName
		from information_schema.tables
		where TABLE_SCHEMA='geely1.0';
	</select>
	
</mapper>
